{
    "singleQuote": false,
    "semi": false,
    "bracketSpacing": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "arrowParens": "always"
}
